.button {
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 0;
  margin: 0 5px;
  transition: all ease .2s;
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-text);
  cursor: initial;
}

.button:not([DISABLED]):hover {
  opacity: .8;
}

.standard {
  background-color: var(--color-main);
}

.danger {
  background-color: var(--color-danger);
}

@media (max-width: 685px) {
  .button {
    margin: 5px 0;
  }
}