:root {
  --font-family:'Inter', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --color-bg: #f9fafb;
  --color-bg-light: #ffffff;
  --color-main: #5457e2;
  --color-danger: #df5d58;
  --color-text: #6d727f;
  --color-text-bold: #171d2d;

  --box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  --border-radius: 5px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: 16px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
